.header {
background-color: white;
  overflow: hidden;
position: fixed;
z-index: 99;
width: 100%;
}
.header a {


  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}

.header_right {
  right: 1%;
display: flex;
position: absolute;
top: 20%;
}

#srchbtn{
  color: darkseagreen;
background-color: white;
border: 1px solid darkseagreen;
padding: 7px;
margin: auto;
border-radius: 10px;

}

#srchbox{
  border-radius: 10px;
    padding: 10px;
    float: left;
}


/* wrapper */

.wrapper {
	margin: 0 auto;
	top: 75px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.wrapper .column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
	color: #555;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

  resize: none;

}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
}

.user_details{
  position: fixed;
    left: 5px;
    top: 100px;
    width: 200px;
}

@media screen and (max-width: 1700px) {
  .user_details {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .full_post {
    height: 1500px;

  }
  .post_body{
        height: 1250px;
  }
}

.post_form{
      padding: 50px;
}

.profile_pic{
  border-radius: 50%;
    border: 2px solid grey;
    width: 5vw;
    height: 5vw;
}

.status_post{
  border: 1px solid;
  padding: 15px;
}
.post_collum{

    padding: 20px;
}

.full_post{
    margin: 10px;
    padding: 10px;
border: 2.3px solid;
    border-radius: 15px;

}
.post_body{
  margin: auto;
    display: flex;
    width: auto;
    height: 25vw;
    border: 1px solid;
        word-break: break-all;
}

.tetx_post{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: auto;

}

.posts_area{
  width: 75%;
margin: auto;

}
}

#time{
  float: right;
}

.comment_section{

width: 100%;
padding: 10px;
border: 1px solid;

}

#comment_iframe{
  width: 100%;

}

.comment_time{
float: right;

}

.comment_body{
  padding: 10px;
  flex-wrap: wrap;

}
/* #liked{

    background: url(assets/img/icons/bump_liked.png);
    border: 0;
    display: block;
    height: _the_image_height;
    width: _the_image_width;

} */

#Comment_text{
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

  resize: none;
}

.like_bottom{
  background-color: white;
border: 0px;
}

.like_value{
  float: right;
margin: 10px;
}

.profile_left{





    margin: auto;
    padding: 90px;

    top: 250px;
    width: 75%;
}

.profile_pic_profile{
  border-radius: 50%;
    border: 2px solid #4191fe;
        float: left;
        width: 13vw;
        height: 13vw;
}
.profile_pic_comment{
  border-radius: 50%;
    border: 2px solid grey;
        float: left;
        width: 3vw;
        height: 3vw;
}

.profil_stat li{
  display: flex;
  justify-content: center;

}

.follow_form{
  display: flex;
margin: auto;
margin-bottom: 2px;
}

.follow_btn{
  background-color: #8b8b8b;
border: none;
color: white;
text-decoration: none;
display: flex;
margin: auto;
margin-top: 10px;
}

#formExample{
  margin: 7vw;
}

.menu_ul_center{
  float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu_li_center{
  text-decoration: none;
}



#profil_header{
  width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown_data_window{
	background-color: #fff;
	border: 1px solid #DADADA;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 40px;
	overflow-y: auto;
}

.notification_badge{
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #f00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -10px;
}

.resultDisplayNotification{
	height: auto;
	color: #1485BD;
	padding-bottom: 7px;
}

.resultDisplayNotification img{
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}
.delete_button{
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
	line-height: 1px;
}

.profile_main_column{
	min-width: 675px;
	float: left;
	width: 70px;
	z-index: -1;
}

.profile_info_bottom{
	margin: 10px 0 0 7px;
}

#message_textarea{
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	height: 50px;
}

#message_submit{
	height: 50px;
	width: 120px;
	margin: 0;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	position: absolute;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	border: none;
}

.message{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff
}

.message_post form{
	margin-bottom: 3px;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}

.message#green{
	background-color: #2ecc77;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages{
	height: 65%;
	min-height: 300px;
	max-height: 430px;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.loaded_conversations{
	max-height: 216px;
	overflow: auto;
}

.user_found_messages{
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover{
	background-color: #D3D3D3;
}

.loaded_conversations a .user_found_messages img{
	height: 35px;
	float: left;
}

#grey{
	color: #8C8C8C;
}

.resultDisplay{
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a{
	float: none;
}

.resultDisplay:hover{
	background-color: #EBEBEB;
	text-decoration: none;
}

.liveSearchProfilePic img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText{
	background-color: transparent;
	color: #1E96CA;
}

.liveSearchText p{
	margin-left:10px;
	font-size: 12px;
}

.tab-content{
	margin-top: 25px;
}

.dropdown_data_window{
	background-color: #fff;
	border: 1px solid #DADADA;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 40px;
	overflow-y: auto;
}

.notification_badge{
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #f00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -10px;
}

.resultDisplayNotification{
	height: auto;
	color: #1485BD;
	padding-bottom: 7px;
}

.resultDisplayNotification img{
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.timestamp_smaller{
	font-size: 85%;
	margin: 0;
}

.search{
	margin: 8px 0 0 15%;
}

.search #search_text_input{
	border: thin solid #E5E5E5;
	float: left;
	height: 23px;
	outline: 0;
	width: 100px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button_holder{
	background-color: #F1F1F1;
	border: thin solid #e5e5e5;
	cursor: pointer;
	float: left;
	height: 23px;
	width: 50px;
	text-align: center;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.button_holder img{
	margin-top: 1px;
	width: 20px;
}

.search_results{
	background-color: #fff;
	border: 1px solid #DADADA;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
}

.search_results_footer{
	padding: 3px 4px 4px 4px;
	height: 30px;
	border: 1px solid #DADADA;
	border-top: none;
	background-color: #20AAE5;
	text-align: center;
}

.search_results_footer a{
	color: #fff;
}

.search_result{
	padding: 10px;
	height: 100px;
}

.searchPageFriendButtons{
	float: right;
}

.searchPageFriendButtons input[type="submit"]{
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.result_profile_pic{
	float: left;
	margin-right: 10px;
}

.search_result_hr{
	margin-bottom: 0px;
}

#small_profile_pic{
	height: 200px;
  display: flex;
margin: auto;
	border-radius: 50%;

}

.settings_input{
	border: 1px solid #ccc;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px
}

.settings_submit{
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.postedImage img{
	max-height: 300px;
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

#fileToUpload{
	margin-top: 8px;
	font-size: 11px;
}

.post_form hr{
	margin-top: 13px;
}
#message_textarea{
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	height: 50px;
  display: flex;
  float: right;
  margin-left: 8px;
}

#message_submit{
	height: 50px;
	width: 120px;
	margin: 0;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	position: absolute;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	border: none;
}

.message{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff
}

.message_post form{
	margin-bottom: 3px;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}

.message#green{
	background-color: #2ecc77;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages{
	height: 65%;
	min-height: 300px;
	max-height: 430px;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.loaded_conversations{
	max-height: 216px;
	overflow: auto;
}

.user_found_messages{
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover{
	background-color: #D3D3D3;
}

.loaded_conversations a .user_found_messages img{
	height: 35px;
	float: left;
}

#grey{
	color: #8C8C8C;
}

.resultDisplay{
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a{
	float: none;
}

.resultDisplay:hover{
	background-color: #EBEBEB;
	text-decoration: none;
}
.profile_main_column{
	min-width: 675px;
	float: left;
	width: 70px;
	z-index: -1;
}
.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.wrapper .column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
	color: #555;
}

.wrapper .user_details{
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.wrapper .user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}



.wrapper .main_column{
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 170px;
}
